.main-navigation-menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation-menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation-title {
  color: white;
}

.main-navigation-title a {
  text-decoration: none;
  color: white;
}
h1 > a {
  color: white;
  font-size: 24px;
}

.main-navigation-title h1 a:visited,
.main-navigation-title h1 a:hover,
.main-navigation-title h1 a:active {
  color: white;
}

.main-navigation-header-nav {
  display: none;
}

.main-navigation-drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation-menu-btn {
    display: none;
  }

  .main-navigation-header-nav {
    display: block;
  }
}
